<div class="container">
    <div class="text-center my-3">
        <img src="/assets/images/pokemon-logo.webp" alt="Pokémon" width="100px" height="100px" class="img-fluid w-25 w-md-25 w-lg-50" loading="lazy">
    </div>

    <div class="row text-center my-3">
        <span class="fst-italic">Developed by Fran Coto for educational purposes</span>
    </div>

    <div class="row my-3 justify-contentent-center align-items-center">
        <div class="col-4 col-md-3">
            <label for="recordLimit" class="form-label">Records</label>
            <select name="recordLimit" [(ngModel)]="recordtLimit" (change)="onLimitChange()" class="form-select"
                id="recordLimit">
                <option *ngFor="let limit of limits" [value]="limit">{{ limit }}</option>
            </select>
        </div>

        <div class="col-8 col-md-9 text-end">
            <button mat-icon-button aria-label="View as Cards" (click)="changeView('card')">
                <mat-icon>view_module</mat-icon>
            </button>
            <button mat-icon-button aria-label="View as Grid" (click)="changeView('grid')">
                <mat-icon>view_list</mat-icon>
            </button>
        </div>
    </div>

    <app-spinner [loading]="loading"></app-spinner>

    <div *ngIf="error" class="alert alert-danger">
        Failed to load data. Please, check you internet connection and try again.
    </div>

    <ng-container *ngIf="!error && !loading">
        <ng-container *ngIf="viewSelected === 'card'">
            <app-card [pokemons]="pokemons"></app-card>
        </ng-container>
    
        <ng-container *ngIf="viewSelected === 'grid'">
            <app-grid [pokemons]="pokemons"></app-grid>
        </ng-container>
    </ng-container>
   
</div>