<div class="animate__animated animate__backInRight">
    <table mat-table [dataSource]="pokemons" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">No.</th>
            <td mat-cell *matCellDef="let pokemon" class="text-center"> {{pokemon.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-center">Name</th>
            <td mat-cell *matCellDef="let pokemon" class="text-center"> {{pokemon.name | upperCase }}</td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-center">Image</th>
            <td mat-cell *matCellDef="let pokemon" class="text-center">
                <img [src]="pokemon.sprites.front_default" alt="{{pokemon.name}}" width="100px" height="100px" class="width-100" loading="lazy">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goDetails(row.id)"
            class="cursor-pointer effect"></tr>

    </table>
</div>